.card {
  position: relative;
  max-width: 19.75rem;
  width: 100%;
  min-height: 422px;
  background-color: var(--bg-color);
  border-radius: 0.5;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 0.0625rem var(--product-card-border);
  border-radius: 12px;

  .productImageWrapper {
    width: 100%;
    min-height: 17.75rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .discountBadge {
    position: absolute;
    top: 1rem;
    left: 1.313rem;
    background-color: var(--discount-bage-bg);
    color: white;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    z-index: 2;
  }
  .productActions {
    position: absolute;
    z-index: 2;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }

  .productInfo {
    background-color: var(--product-card-bg);
    border-top: solid 0.0625rem var(--product-card-border);
    display: grid;
    height: 100%;
    padding: 1.25rem 2rem 2rem 2rem;
    gap: 1rem;

    .title {
      padding: 0;
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--text-color);
    }

    .price {
      margin-top: auto;
      display: flex;
      align-items: baseline;
      gap: 1rem;
      font-size: 20px;

      .discountPrice {
        font-weight: 700;
        color: var(--text-color);
        font-size: 40px;
      }

      .originalPrice {
        text-decoration: line-through;
        color: var(--text-color);
      }

      .singlePrice {
        font-size: 40px;
        font-weight: 700;
        color: var(--text-color);
        line-height: 1;
      }
    }
  }
}
