:root {
  --bg-color: #fffff1;
  --text-color: #424436;
  --color-green: #92a134;
  --discount-bage-bg: #f26d22;
  --product-card-border: #dddddd;
  --divider-color: #dddddd;
  --product-card-bg: #ffffff;
  --contacts-card-bg: #f2f6d3;
}
