.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.875rem;
  text-decoration: none;

  li {
    list-style: none;
  }
}

.navLink {
  text-decoration: none;
  color: var(--text-color);
  flex-shrink: 0;
  font-weight: 400;
  font-size: 20px;

  &:hover {
    color: gray;
  }
}
